<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.petalidis.datamars">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="gr.petalidis.datamars.Moo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="gr.petalidis.datamars.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity android:name=".activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.ViewRsgActivity"
            android:label="@string/title_activity_view_rsg"
            android:parentActivityName=".activities.CalendarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gr.petalidis.datamars.activities.CalendarActivity" />
        </activity>
        <activity
            android:name=".inspections.ui.CreateInspectionActivity"
            android:label="@string/title_activity_create_inspection"
            android:launchMode="singleTop" />
        <activity
            android:name=".inspections.ui.InspectionStepOneActivity"
            android:label="@string/title_activity_inspection_step_one"
            android:launchMode="singleTop"
            android:parentActivityName=".inspections.ui.CreateInspectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".inspections.ui.CreateInspectionActivity" />
        </activity>
        <activity
            android:name=".inspections.ui.InspectionStepPhotoActivity"
            android:label="@string/title_activity_inspection_step_photo"
            android:launchMode="singleTop"
            android:parentActivityName=".inspections.ui.InspectionStepOneActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".inspections.ui.InspectionStepOneActivity" />
        </activity>
        <activity
            android:name=".inspections.ui.InspectionStepTwoActivity"
            android:label="@string/title_activity_inspection_step_two"
            android:launchMode="singleTop"
            android:parentActivityName=".inspections.ui.InspectionStepPhotoActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".inspections.ui.InspectionStepPhotoActivity" />
        </activity>
        <activity
            android:name=".inspections.ui.InspectionStepThreeActivity"
            android:label="@string/title_activity_inspection_step_three"
            android:launchMode="singleTop"
            android:parentActivityName=".inspections.ui.InspectionStepTwoActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".inspections.ui.InspectionStepTwoActivity" />
        </activity>
        <activity
            android:name=".inspections.ui.InspectionStepFourActivity"
            android:label="@string/title_activity_inspection_step_four"
            android:launchMode="singleTop"
            android:parentActivityName=".inspections.ui.InspectionStepThreeActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".inspections.ui.InspectionStepThreeActivity" />
        </activity>
        <activity
            android:name=".inspections.ui.InspectionStepFiveActivity"
            android:label="@string/title_activity_inspection_step_five"
            android:launchMode="singleTop"
            android:parentActivityName=".inspections.ui.InspectionStepFourActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".inspections.ui.InspectionStepFourActivity" />
        </activity>
        <activity
            android:name=".inspections.ui.InspectionViewActivity"
            android:label="@string/title_activity_inspection_view"
            android:parentActivityName=".inspections.ui.CreateInspectionActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".inspections.ui.CreateInspectionActivity" />
        </activity>
        <activity
            android:name=".inspections.ui.InspectionViewActivity2"
            android:label="@string/title_activity_inspection_view2"
            android:parentActivityName=".inspections.ui.InspectionViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gr.petalidis.datamars.inspections.ui.InspectionViewActivity" />
        </activity>
        <activity
            android:name=".inspections.ui.InspectionViewPhotoActivity"
            android:label="@string/title_activity_inspection_viewPhotoActivity"
            android:parentActivityName=".inspections.ui.InspectionViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gr.petalidis.datamars.inspections.ui.InspectionViewActivity" />
        </activity>
    </application>

</manifest>